In [2]:
# Q1. Create one variable containing following type of data:

# (i)	string

Name = "Jay"
print(Name)

# (ii)	list

l = [2,3.4,"Baburao",7.9,7.0]
print(l)
# (iii)	float
f = 69.96
print(f)


# (iv)	tuple

t = (5, 4, 3, 2, 1)
print(t)

Jay
[2, 3.4, 'Baburao', 7.9, 7.0]
69.96
(5, 4, 3, 2, 1)

In [3]:
# Q2. Given are some following variables containing data:

# (i)	var1 = ‘ ‘
var1 = ' '
print(type(var1)) # str

# (ii)	var2 = ‘[ DS , ML , Python]’
var2 = '[ DS , ML , Python]'
print(type(var2)) # str

# (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3)) # list

# (iv)	var4 = 1
var4 = 1
print(type(var4)) # int

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [4]:
# Q3. Explain the use of the following operators using an example:

# (i)	/
print(5/2)

# (ii)	% 
print(5%2) # Modulus

# (iii)	//
print(5//2) # Floor Division

# (iv)	**
print(5**2)

2.5
1
2
25

In [5]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
# element and its data type.

i = 0
l = [2,3.5,"Jay",['hello'],(1,2,3),{'name': 'Baburao'},22,11,4.6,33]
for i in range(10):
    l.append(i)
    print(l[i],type(l[i]))

2 <class 'int'>
3.5 <class 'float'>
Jay <class 'str'>
['hello'] <class 'list'>
(1, 2, 3) <class 'tuple'>
{'name': 'Baburao'} <class 'dict'>
22 <class 'int'>
11 <class 'int'>
4.6 <class 'float'>
33 <class 'int'>

In [9]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
# tim#es it can be divisible.

A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0
while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print("Number A is divisible by number B.")
    print("It can be divided", count, "times.")
else:
    print("Number A is not divisible by number B")

Enter the number A:  5000
Enter the number B:  2

Number A is divisible by number B.
It can be divided 3 times.

In [10]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
# divisible by 3 or not.

l = []
for i in range(25):
    l.append(i)
    if i%3 == 0:
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [12]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# a) Mutable Data Types: These are data types whose values can be changed after they are created.Changes to the mutable object do not create a new object,
#instead, they modify the existing object.
# Example of mutable data type: List

my_list = [1, 2, 3]
print("Before modification:", my_list)  # Output: [1, 2, 3]

my_list.append(4)  # Modifies the original list
print("After modification:", my_list)  # Output: [1, 2, 3, 4]


# b) Immutable Data Types:These are data types whose values cannot be changed once they are created. Any operation that appears to modify an immutable object will actually create a new object.
# Example of immutable data type: String

my_string = "hello"
print("Original string:", my_string)  # Output: hello

my_string = my_string + " world"  # Creates a new string object
print("Modified string:", my_string)  # Output: hello world

Before modification: [1, 2, 3]
After modification: [1, 2, 3, 4]
Original string: hello
Modified string: hello world